body {
    margin: 0;
}

.container {
    margin: 0;
}

h1, h2, .links a {
    font-family: 'Poppins', Arial, sans-serif;
}

p {
    font-family: 'Quicksand', Arial, sans-serif;;
}

/*=============== Top container ===============*/


.top-container {
    background-color: #A0B2E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*=============== nav ===============*/

.topnav{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: center;
}

/*
.name{
    margin-left: 5%;
}
*/

.links{
    margin: 15px;
}

.links a {
    text-decoration: none;
    color: #0E1A2A;
    /*margin-left: 40px;*/
    margin-left: 20px;
    margin-right: 20px;
}

.links p {
    text-decoration: none;
    color: #0E1A2A;
}


/*=============== Introduction ===============*/

.introduction-container {
    display: flex;
    justify-content: space-between;
}

.introduction-text-container {
    position: relative;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-text-container img {
    width: 100%;
    margin: 0;
}

.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.introduction-text p {
    color: whitesmoke;
    margin: 0;
}

.introduction-text h1 {
    color: whitesmoke;
    margin: 0;
    margin-bottom: 3%;
}


.lukas-img {
    width: 40%;
    display: flex;
    margin-right: 10%;
    margin-top: 10%;
}

.lukas-img img {
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 1501px) {
    .introduction-container {
        width: 1500px;
    }    

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
}

@media screen and (max-width: 1000px) {
    .introduction-text h1 {
        font-size: 24px;
    }

    .introduction-text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .introduction-container {
        flex-direction: column;
        align-items: center;
    }

    .introduction-text-container {
        width: 60%;
        margin: 0;
        margin-top: 5%;
    }

    .introduction-text{
        display: flex;
        text-align: center;
        width: 80%;
    }

    .lukas-img {
        margin: 0;
        width: 70%;
        margin-top: 5%;
    }    
}

@media screen and (max-width: 560px) {
    .introduction-text h1 {
        font-size: 20px;
    }

    .introduction-text p {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .blobb-img {
        display: none;
    }

    .introduction-text {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 15%;
    }
}


/*=============== Om mig ===============*/

.bio-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.bio-title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bio-title h1 {
    margin: 0;
}

.bio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bio-img {
    width: 30%;
}

.bio-img img {
    width: 100%;
}

.bio-text {
    width: 60%;
}

@media screen and (max-width: 1000px) {
    .bio-content {
        flex-direction: column-reverse;
    }

    .bio-img {
        width: 50%;
    }    

    .bio-text {
        text-align: center;
        width: 80%;
    }
}

@media screen and (min-width: 1501px) {
    .bio-container {
        width: 1500px;
    }
}


/*=============== Projekt ===============*/

.project-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.project-title {
    display: flex;
    justify-content: center;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 33%;
  
    padding: 0 var(--_spacer) var(--_spacer);
  
    grid-template-columns: repeat(3, 1fr); /* Skapa 4 kolumner med lika stor bredd */
    grid-gap: 8%; /* Mellanrum mellan elementen */
    margin-bottom: 5%;
}
  
.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    box-shadow: var(--shadow-2);
}
  
.media-element > img {
    inline-size: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
  
.media-element-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.media-element-text {
    display: flex;
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

@media screen and (min-width: 1501px) {
    .project-container {
        width: 1500px;
    }    
}


/*=============== Kontakt ===============*/

.contact {
    background-color: #0E1A2A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact p {
    color: whitesmoke;
}

.contact-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-title h1 {
    color: whitesmoke;
    margin-top: 3%;
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item {
    width: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contact-item h2 {
    color: whitesmoke;
}

.contact-item a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0;
}

.contact-item p {
    margin: 0;
}

@media screen and (min-width: 1501px) {
    .contact-container {
        width: 1500px;
    }
}

@media screen and (max-width: 768px) {
    .contact-content{
        flex-direction: column;
    }
}
