body {
    margin: 0;
}

.container {
    margin: 0;
}

.links a {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.5em;
}

p {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 1em;
}

header {
    background-color: #A0B2E2;
}

footer {
    background-color: #0E1A2A;
}


/*Lista under inflytande utav en media query*/
.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.horizontal-list li {
    margin-right: 10px;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 1em;
}

/* Media query för att ändra till vertikal lista vid behov */
@media screen and (max-width: 768px) {
    .horizontal-list {
        flex-direction: column;
    }

    .horizontal-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*=============== Top container ===============*/


.top-container {
    /*background-color: #A0B2E2;*/
    background-image: url('imgs/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*=============== nav ===============*/

.topnav{
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links{
    margin: 15px;
}

.links a {
    text-decoration: none;
    /*color: whitesmoke;*/
    color: #0E1A2A;
    margin-left: 20px;
    margin-right: 20px;
    transition: font-size 0.3s ease; /* Add a smooth transition effect */
}

.links a:hover {
    font-size: 1.3em;
}

@media screen and (max-width: 450px) {
    .links a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*=============== Introduction ===============*/

.introduction-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
}

.introduction-text-container {
    position: relative;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-text-container img {
    width: 100%;
    margin: 0;
}

.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    flex-direction: column;
}

.introduction-text p {
    color: whitesmoke;
    margin: 0;
}

.introduction-text h1 {
    color: whitesmoke;
    margin: 0;
    margin-bottom: 3%;
}


.lukas-img {
    width: 40%;
    display: flex;
    margin-right: 10%;
    margin-top: 10%;
}

.lukas-img img {
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 1501px) {
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
}

@media screen and (max-width: 1000px) {
    .introduction-text h1 {
        font-size: 1.5em;
    }

    .introduction-text p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 768px) {
    .introduction-container {
        flex-direction: column;
        align-items: center;
    }

    .introduction-text-container {
        width: 60%;
        margin: 0;
        margin-top: 5%;
    }

    .introduction-text{
        display: flex;
        text-align: center;
        width: 80%;
    }

    .lukas-img {
        margin: 0;
        width: 70%;
        margin-top: 5%;
    }    
}

@media screen and (max-width: 560px) {
    .introduction-text h1 {
        font-size: 1.3em;
    }

    .introduction-text p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 450px) {
    .blobb-img {
        display: none;
    }

    .introduction-text {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 15%;
    }

    .introduction-text h1 {
        font-size: 1.8em;
    }

    .introduction-text p {
        font-size: 1em;
    }
}


/*=============== Om mig ===============*/

.bio-container {
    margin: 5%;
}

.bio-title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bio-title h1 {
    margin: 0;
}

.bio-content {
    flex-direction: column;
    max-width: 1500px;
}

.bio-img-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bio-img {
    width: 30%;
}

.bio-img img {
    width: 100%;
}

.bio-text {
    width: 60%;
}

.bio-text p {
    margin-bottom: 10px;
    text-align: justify;
}

.channels {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.channel {
    margin-right: 5%;
}

.channel a:hover {
    stroke: #A0B2E2;
    fill: #A0B2E2;
}

.main-skills-container{
    margin-top: 5%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.main-skill-item{
    width: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.main-skill-item h2, p {
    margin: 0;
}

.main-skill-item h2 {
    margin: 3%;
}

@media screen and (max-width: 1000px) {
    .bio-img-text-container {
        flex-direction: column-reverse;
    }

    .bio-img {
        width: 50%;
        margin-top: 5%;
    }    

    .bio-text {
        text-align: center;
        width: 80%;
    }

    .channels {
        justify-content: center;
    }   
    
    .channel {
            margin-right: 5%;
            margin-left: 5%;
    }    
}

@media screen and (max-width: 768px) {
    .main-skills-container{
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 450px) {
    .bio-text {
        width: 95%;
    }
    
    .bio-img {
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
}


/*=============== Projekt ===============*/

.project-container {
    margin: 10%;
    max-width: 1500px;
}

.project-title {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

/* Base styles for all screen sizes */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.projects-grid a {
    text-decoration: none;
    color: canvastext;
}

.projects-grid a:hover {
    color: #A0B2E2;
    font-weight:bolder;
}

.project-grid-element {
    text-align: center;
}
  
.project-grid-element > img {
    inline-size: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
  
.project-grid-element-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.project-grid-element-text {
    display: flex;
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.project-grid-element-more{
    margin-top: 10px;
    text-decoration:underline;
    font-weight: bold;
}

/* Responsive styles for screens above 768px */
@media (min-width: 769px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive styles for screens between 561px and 768px */
@media (min-width: 561px) and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        margin-bottom: 5%;    
    }

    .project-container {
        margin-bottom: 20%;
    }    
}

/* Responsive styles for screens below 560px */
@media (max-width: 560px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}


/*=============== Kontakt ===============*/

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact p {
    color: whitesmoke;
}

.contact-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-title h1 {
    color: whitesmoke;
    margin-top: 3%;
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.contact-item {
    width: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contact-item h2 {
    color: whitesmoke;
    margin-left: 15px;
}

.contact-item a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Quicksand', Arial, sans-serif;
    margin: 0;
    transition: font-weight 0.3s ease;
}

.contact-item a:hover {
    font-weight: bold;
}

.contact-item p {
    margin: 0;
}

.contact-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright {
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright p {
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .contact-item {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .contact-content{
        flex-direction: column;
    }
}


/*=============== not-done-container ===============*/

.not-done-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-done-content{
    background-color: #A0B2E2;
    border-radius: 15px;
    padding: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10%;
}

.not-done-content p{
    margin-bottom: 30px;
}

.not-done-content a{
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Quicksand', Arial, sans-serif;;
    font-weight: bolder§;
    color: #0E1A2A;
}


/*=============== Project view ===============*/

.project-top-container {
    background-color: #A0B2E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bimctrl{
    background-image: url('imgs/BIMctrl/floorplan2.png');
    background-size: cover;
    background-position: center;
}

.minna{
    background-image: url('imgs/minna/background.png');
    background-size: cover;
    background-position: center;
}

.project-introduction-container{
    display: flex;
    justify-content: center;
}

.project-introduction-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-introduction-text-container{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;

}

.project-text-blobb {
    width: 100%;
}

.project-logo-blobb {
    width: 40%;
}

.project-text-blobb img{
    width: 100%;
}

.project-logo-blobb img{
    width: 100%;
}

.project-introduction-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-introduction-text h1 {
    color: whitesmoke;
}

.project-introduction-text p {
    color: whitesmoke;
}

@media screen and (min-width: 1501px) {
    .project-introduction-container {
        width: 1500px;
        margin: 0 auto; /* Center the content horizontally */
    }
}

@media only screen and (max-width: 1000px) {
    .project-introduction-text h1 {
        margin-bottom: 0;
    }

    .project-introduction-text p {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 768px) {

    .project-introduction-text-container{
        width: 80%;
        margin-bottom: 10%;
    }

    .project-logo-blobb{
        display: none;
    }

    .project-introduction-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-height: 90%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
    }    

    .project-introduction-text p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 480px) {

    .project-introduction-text-container{
        width: 90%;
        margin-bottom: 10%;
    }

    .project-introduction-text h1 {
        font-size: 1.2em;
    }

    .project-introduction-text p {
        font-size: 0.8em;
    }
}



/*=============== Back btn ===============*/

.project-content {
    margin: 0;
}

.back-btn {
    margin: 5%;
    margin-top: 2%;
    background-color: #0E1A2A;
    border-radius: 50px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.back-btn p {
    font-size: 1.1em;
    font-family: 'Quicksand', Arial, sans-serif;;
    font-weight: bolder;
    color: whitesmoke;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/*=============== info-container ===============*/

.info-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.info-item{
    margin: 5%;
    margin-top: 0;
}

.info-item-title{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.info-item-title h2 {
    margin-left: 15px;
}

.tools{
    display: flex;
    flex-direction: row;
    max-width: 300px;
}

@media only screen and (max-width: 768px) {
    .info-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .info-item{
        text-align: center;
    }

    .info-item-title{
        justify-content: center;
    }
}



.project-img{
    display: flex;
    width: auto;
    margin: 5%;
    justify-content: center;
}

.project-img img{
    width: 100%;
}

.project-img2{
    display: flex;
    width: auto;
    margin: 5%;
    justify-content: center;
}

.project-img2 img{
    width: 50%;
}

@media screen and (min-width: 1501px) {
    .project-view-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

    .project-view-content {
        width: 1500px;
    }    
}
